@model CreateSelectionViewModel
@{
    ViewData["Title"] = "Create Selection";
    Layout = "_LayoutAdmin";
}
<link rel="stylesheet" type="text/css" href="~/css/table.css" />
<link rel="stylesheet" type="text/css" href="~/css/backgroundApp.css" />

<div class="form">
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Department</td>
            <td>Name</td>
            <td>Parameters</td>
        </tr>
        @foreach (var item in Model.Selections)
        {
    <tr>
        <td>@item.ID</td>
        <td>@item.Department.DepartmentName</td>
        <td>@item.SelectionName</td>
        <td>
            @foreach (Parameter lala in item.Parameters)
            {
                <p>@lala.ParameterName</p>
            }
       <a asp-controller="Admin" asp-action="CreateSelectionAction" asp-route-selectionID="@item.ID" asp-route-selectionName ="@item.SelectionName" asp-route-chosenDepartmentId="@item.DepartmentId" >Edit Parameter </a>
        </td>
    </tr>
        }
    </table>
    <form method="post" asp-action="CreateSelection" asp-controller="Admin">
        <div class="text-center">
            <div>
                <label class="text-white-50" for="departmentId">Department:</label>
                <select name="departmentId">
                    @foreach (Department department in Model.Departments)
                    {
                        if (department.DepartmentName == "Admins")
                            continue;
                        <option value="@department.ID">@department.DepartmentName</option>
                    }
                </select>
            </div>

            @*<div>
                <strong class="text-white-50">Check parameters for this selection:</strong>

                <div>
                    @foreach (Parameter parameter in Model.Parameters)
                    {
                        <label>
                            <input  type="checkbox" name="myarray" id="myarray" value="@parameter.ID" /><strong class="text-white">@parameter.ParameterName</strong> ;
                        </label>
                    }
                </div>
            </div>*@

            <input type="text" name="selectionName" required placeholder="Name" />

            <div>
                <input class="btn-success" type="submit" value="Add" />
            </div>
        </div>

    </form>
</div>
    
