@model AddParameterViewModel

@{
    ViewData["Title"] = "Create Parameter";
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" type="text/css" href="~/css/table.css" />
<link rel="stylesheet" type="text/css" href="~/css/backgroundApp.css" />
<body>
    <div class="form">
        <table class="table">
            <tr><td>Name</td><td>Department</td><td>Coefficient</td></tr>
            @foreach (var item in Model.Parameters)
            {
                <tr><td>@item.ParameterName</td><td>@item.Department.DepartmentName</td><td>@item.Coefficient</td></tr>
            }
        </table>

        <form method="post" asp-action="CreateParameter" asp-controller="Admin">
            <div class="text-center">
                <input type="text" name="name" required placeholder="Name" />
                <select name="departmentId">
                    @foreach (Department department in Model.Departments)
                    {
                        if (department.DepartmentName == "Admins")
                            continue;
                        <option value="@department.ID">@department.DepartmentName</option>
                    }
                </select>
                <input type="number" step="0.01" min="0" max="1"  name="coefficient" required placeholder="Coefficient" />

                <div>
                    <input type="submit" value="Add" class="btn-success" />
                </div>
            </div>            
        </form>
    </div>
</body>


